@model  NPlusOneViewModel
@{
    ViewData["Title"] = "N Plus One";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="row">
        <div class="form-group">
            <label for="input">Input</label>
            <input type="text" class="form-control" id="input" aria-describedby="inputHelp" placeholder="@Model.InputValues" pattern="^[1-8](,[1-8])*$">
            <small id="inputHelp" class="form-text text-muted">Enter a string of numbers Ex. 1,2,3,2,5,1</small>
            <button type="submit" class="btn btn-primary" id="submit">Find Duplicates</button>
        </div>
        
    </div>
    <div class="row pt-2">
        <p><b>Output:</b> <label for="output" id="output">Ex. @Model.OutputValues</label></p>
    </div>

<script>
    $(document).ready(function() {
        $("#submit").click(function () {
            var data = JSON.stringify({ "numbers": $("#input").val() });

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetDuplicates", "NPlusOne")?numbers=' + $("#input").val(),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                      $("#output").text(data.outputValues);
                  },
                error: function (data) {
                    $("#output").text('Error');
                  },
            });
        }); 
    });
</script>

